<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/style3.css">
    <style>
        .f1 {
            display: flex;
            font-size: 20px;
        }
        .feedback {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            align-items: center;
        }

        .feedback .f {
            border: 1px solid #363949;
            margin: 5px 4px;
            padding: 10px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;

        }
    </style>
</head>

<body>
    <div class="maincontainer">
        {{>navbar}}
        <div class="container">
            <form action="/addfeedback" class="ContactForm">
                <h1 class="contactus-heading">Add feedback</h1>
                <input name="email" type="email" class="feedback-input" placeholder="Email" required />
                <textarea name="feedback" class="feedback-input" placeholder="Enter Your Message" required></textarea>
                <input type="submit" value=Send">
            </form>
        </div>
        {{>feedback}}
        {{>footer}}
    </div>
</body>

</html>