<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="./css/style61.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .containerser {
            display: grid;
            grid-template-columns: repeat(4, auto);
            width: 90%;
            margin: auto;
        }

        @media only screen and (max-width: 800px) {
            .containerser {
                grid-template-columns: repeat(3, auto);
            }
        }

        @media only screen and (max-width: 500px) {
            .containerser {
                grid-template-columns: repeat(2, auto);
            }
        }

        @media only screen and (max-width: 300px) {
            .containerser {
                grid-template-columns: repeat(1, auto);
            }
        }

        .containerser .boxser {
            border: 1px dashed blueviolet;
            margin: 4px 4px;
            padding: 5px;
            border-radius: 10px;
        }

        .containerser .boxser img {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            display: block;
            margin: auto;
        }

        .headserimg {
            width: 100vw;
            height: 8vh;
            display: flex;
            align-items: end;
            justify-content: center;
            color: white;
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), rgb(54 88 112);
        }

        .headserimg span {
            font-size: 60px;
        }




        .containerser h2 {
            font-size: 30px;
            color: #837491;
            font-weight: bolder;
        }

        .containerser details {
            font-size: 19px;
            color: #837491;
            font-weight: bolder;
        }

        .containerser button {
            width: 35%;
            height: 30px;
            border-radius: 4px;
        }

        .containerser button a {
            font-size: 20px;
            text-decoration: none;
            color: #837491;
            font-weight: bolder;
        }

        .containerser button:hover {
            text-decoration: none;
            background: rgb(173, 135, 210);
        }

        .containerser button a:hover {
            color: white;
            font-size: 15px;
            text-decoration: none;
            background: rgb(173, 135, 210);
        }
    </style>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="maincontainer">
        {{>navbar}}

        <div class="maindiv1">

            <div class="containerser">
                <div class="boxser">
                    <img src="https://icones.pro/wp-content/uploads/2021/05/icone-html-violettepng.png"
                        alt="">
                    <h2>HTML</h2>
                    <details>This page lists all the HTML elements, which are created using tags..more </details>
                    <button><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"  target="_blank"
                        >click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://w7.pngwing.com/pngs/224/77/png-transparent-website-web-internet-css-style-css3-technology-social-media-logos-i-flat-colorful-icon-thumbnail.png"
                        alt="">
                    <h2>CSS</h2>
                    <details>Use this CSS reference to browse an alphabetical index of all of the standard CSS properties, pseudo-classes, pseudo-elements, data types, functional notations and at-rules..more</details>
                    <button><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbjylIfOcQIlqAZ6P7WBZs86ss9I4ZSY0ciA6tzeaxOJwBCWT7ly3L7bckSQOFLf2Fi_c&usqp=CAU" alt="">
                    <h2>Javascript</h2>
                    <details>The JavaScript reference serves as a repository of facts about the JavaScript language..more</details>
                    <button><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://e1.pngegg.com/pngimages/666/167/png-clipart-macos-app-icons-java.png"
                        alt="">
                    <h2>Java</h2>
                    <details>Java EE provides an API and runtime environment for developing and running large, multi-tiered, reliable, and secure enterprise applications that are portable and scalable and that integrate easily with legacy applications and data..</details>
                    <button><a href="https://dev.java/learn/" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://cdn-icons-png.flaticon.com/512/6132/6132222.png"
                        alt="">
                    <h2>CPP</h2>
                    <h2>Others</h2>
                    <details>The interface of C++ standard library is defined by the following collection of headers.</details>
                    <button><a href="https://devdocs.io/cpp/" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/free-python-3521655-2945099.png"
                        alt="">
                    <h2>Python</h2>
                    <details>Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. </details>
                    <button><a href="https://docs.python.org/3/tutorial/index.html" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://static-00.iconduck.com/assets.00/c-sharp-c-icon-1822x2048-wuf3ijab.png"
                        alt="">
                    <h2>C sharp language</h2>
                    <details>C# (pronounced "See Sharp") is a modern, object-oriented, and type-safe programming language. C# enables developers to build many types of secure and robust applications that run in .NET. </details>
                    <button><a href="https://www.w3schools.com/cs/index.php" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png
                    "
                        alt="">
                    <h2>Angular</h2>
                    <details>Angular is one of the popular web frameworks for front-end development. It allows the building of highly scalable and high-performing web applications. </details>
                    <button><a href="https://angular.io" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://icons.getbootstrap.com/assets/img/icons-hero.png"
                        alt="">
                    <h2>Bootstrap</h2>
                    <details>Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins. </details>
                    <button><a href="https://getbootstrap.com/" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://cdn-icons-png.flaticon.com/512/919/919825.png"
                        alt="">
                    <h2>Nodejs</h2>
                    <details>Node.js and .Net are in the top ten list of other frameworks developers like to use on the front-end side of things. It’s not hard to see why. </details>
                    <button><a href="https://nodejs.org/en/docs" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Webysther_20160423_-_Elephpant.svg/2560px-Webysther_20160423_-_Elephpant.svg.png"
                        alt="">
                    <h2>Php</h2>
                    <details>Although not as popular as it once was, PHP is still on the list of top 20 computer languages for backend development for the last few years. </details>
                    <button><a href="https://www.php.net/docs.php" target="_blank">click here</a></button>
                </div>
                <div class="boxser">
                    <img src="https://e7.pngegg.com/pngimages/45/628/png-clipart-programming-language-computational-statistics-rstudio-others-blue-angle.png"
                        alt="">
                    <h2>R language</h2>
                    <details>The R coding language has been gaining popularity in recent years. That is because of interest growth in data analysis from several sectors.  </details>
                    <button><a href="https://www.r-project.org/about.html" target="_blank">click here</a></button>
                </div>
                
                
                
            </div>
        </div>


        
        {{>footer}}
    </div>
</body>

</html>