<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Register</title>


   <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./css/style.css">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <style type="text/css">
      

      .container100 {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -70%);
         width: 400px;
         background: white;
         border-radius: 10px;
         box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
         border: 2px dashed pink;
        
      }

      .form-signup {
         margin: 0 auto;
         max-width: 400opx;
         padding: 15px;
         background-color: white;
      }

      input[type="submit"]:hover {
         border-color: #2691d9;
         transition: .5s;
      }
      input{
         margin: 5px 0;
      }

      .form-signup h2 {
         text-align: center;
         padding: 20px 0;
         border-bottom: 1px solid silver;
      }
   </style>
</head>

<body>

   <div class="maincontainer">
      {{>navbar}}


      <div class="container100">
         <form class="form-signup" action="/adduser" method="get">
            <h2>Register</h2>
            <p style="font-size: 15px;">Create your account it's free.</p>
            <div class="form-group">
               <div class="row">
                  <div class="col-md-6">
                     <input type="text" class="form-control" name="firstname" placeholder="First Name" style="font-size: 15px;" required>
                  </div>
                  <div class="col-md-6">
                     <input type="text" class="form-control" name="lastname" placeholder="Last Name" style="font-size: 15px;" required>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <input type="email" class="form-control" name="email" placeholder="Email Address" style="font-size: 15px;" required>
            </div>
            <div class="form-group">
               <input type="password" class="form-control" name="password" placeholder="Password" style="font-size: 15px;" required>
            </div>
            <div class="form-group">
               <input type="password" class="form-control" name="confirm_password" placeholder="Confirm password" style="font-size: 15px;" required>
            </div>
            <div class="form-group">
               <label style="font-size: 15px;">
                  <input type="checkbox" name="" required style="font-size: 15px;">I accept the <a href="#">Terms of Use</a> & <a href="" style="font-size: 15px;">Privacy
                     Policy</a>
               </label>
            </div>
            <input type="submit" class="btn btn-success btn-block" value="Submit" style="font-size: 15px;">

            {{#if mesg1}}
            <h2>Passwords are not matching</h2>
            {{/if}}

            {{#if mesg2}}
            <h3>User already exist please use another email</h3>
            {{/if}}

            
         </form>
      </div>






      {{>footer}}
   </div>

</body>

</html>