<link rel="stylesheet" href="./css/sty.css">
<div class="maindiv">
    <div class="container1">
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="./img/pngg.png" alt="" loading="lazy" style="width: 100px;">
                </a>
            </div>
            <div class="list">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/article">Articles</a></li>
                     <li><a href="/codeeditor">CodeEditor</a></li>
                    <li><a href="/contact">Feedback</a></li>
                    <li><a href="/contests">Contests</a></li>
                    {{!-- <li><a href="/login">Sign in</a></li> --}}

                    <li id="signup"><a href="/register">Register</a></li>
                    {{!-- {{/if}} --}}
                    {{!-- <li><a href="#" id="user_name">{{Name}}</a></li> --}}



                </ul>
            </div>
        </div>
    </div>

</div>